mat-card{
    height: 300px;
}

.card-item {
    flex: 0 0 calc(25% - 1rem);
    max-width: calc(25% - 1rem);
    margin: 0.5rem;
    cursor: pointer;
}

@media (max-width: 992px) {
    .card-item {
        flex-basis: calc(33.33% - 1rem);
        max-width: calc(33.33% - 1rem);
    }
}

@media (max-width: 768px) {
    .card-item {
        flex-basis: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    .card-item {
        flex-basis: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }
}

