<!-- <div class="code container-fluid">
    <div class="row d-flex h-100">
        <div class="pre-code col-5">
            <div class="row h-100">
                <div class="line_num col-1 d-flex justify-content-start flex-column">
                    <p class="m-0" *ngFor="let _ of [].constructor(content.split('\n').length); let i = index">{{i+1}}</p>
                </div>
                <div class="col-11 m-0 p-0">
                    <textarea class="editor-container" #editorContainer></textarea>
                </div>
            </div>
        </div>
        <div class="btns col-2">
            <div class="row align-item-center h-100">
                <div class="line_num col-12 d-flex justify-content-start flex-column">
                    <button class="button-10" type="button">Format</button>
                </div>
            </div>
        </div>
        <div class="post-code col-5">
            <div class="row h-100">
                <div class="line_num col-1 d-flex justify-content-start flex-column">
                    <p class="m-0"></p>
                </div>
                <div class="col-11 m-0 p-0">
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div> -->